header{
	text-align: center;
}
section{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width:100%;
}
#questions{
	margin-left:auto;
	margin-right: auto;
}
table{
	margin-left:auto;
	margin-right:auto; 
	margin-bottom: 20px;
}
tr td{
	min-width: 200px;
	text-align: center;
}
.codeQ1, .codeQ2, .codeQ3, .codeQ4{
	border:1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	min-width:400px;
	max-width:650px;
	width:auto;

}
ol.codeList{
	margin:0px;
	width:600px;
	padding-top:5px;
	padding-bottom:5px;
}
.question{
	margin-bottom:10px;
}
a, a:visited{
	color:black;
	text-decoration-color: black;
}
a:hover{
	color:grey;
	text-decoration-color: red;
}
ol hr{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}
#question1, #question2, #question3, #question4{
	margin-left:auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}